body {
	background-color: #222222;
}
.bg-primary {
	background-color: #375a7f !important;
}
.card {
	background-color: #303030;
	border: 1px solid transparent;
	color: #fff;
}
.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.card-danger{
    background-color: #d9534f;
    border-color: #d9534f;
}
.card-header {
    background-color: #303030;
}
textarea, .cke {
	color: #000 !important;
}
.table {
	color: #fff !important;
}