/* Profile Timeline */
.timeline {
  position: relative;
  padding: 21px 0px 10px;
  margin-top: 4px;
  margin-bottom: 30px;
}

.timeline .line {
  position: absolute;
  width: 4px;
  display: block;
  background: currentColor;
  top: 0px;
  bottom: 0px;
  margin-left: 30px;
}

.timeline .separator {
  border-top: 1px solid currentColor;
  padding: 5px;
  padding-left: 40px;
  font-style: italic;
  font-size: .9em;
  margin-left: 30px;
}

.timeline .line::before {
  top: -4px;
}

.timeline .line::after {
  bottom: -4px;
}

.timeline .line::before,
.timeline .line::after {
  content: '';
  position: absolute;
  left: -4px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: currentColor;
}

.timeline .panel {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both;
}

.timeline .panel::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: '';
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}

.timeline .panel .panel-heading.icon {
  position: absolute;
  left: -59px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left;
}

.timeline .panel-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.timeline .panel-outline .panel-body {
  padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
  display: none;
}

/* Social Media Icons */
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3B5998;
}

#social-tw:hover {
  color: #4099FF;
}

#social-gp:hover {
  color: #d34836;
}

#social-em:hover {
  color: #f39c12;
}

.frame {
  height: 50px;
  width: 100%;
  position: relative;
}

.frame-sidebar {
  height: 50px;
  width: 100%;
  position: relative;
}

.img-centre {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

a {
  text-decoration: none !important;
}

@media only screen and (min-width: 768px) {
  .table-responsive {
    overflow-x: hidden;
  }
}

/* Bootstrap nav list from 2.3.2, modified for NamelessMC */
.nl-nav {
  list-style: none;
}

.nl-nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nl-nav li+.nl-nav-header {
  margin-top: 9px;
}

.nl-nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}

.nl-nav-list>li>a,
.nl-nav-list .nl-nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nl-nav-list>li>a {
  padding: 3px 15px;
}

.nl-nav-list>.active>a,
.nl-nav-list>.active>a:hover,
.nl-nav-list>.active>a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #428bca;
}

.nl-nav-list [class^="icon-"],
.nl-nav-list [class*=" icon-"] {
  margin-right: 2px;
}

.nl-nav-list .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.forum_post {
  word-wrap: break-word;
}

.forum_post img {
  overflow: auto;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .mobile_only {
    display: none;
  }
}

footer.installer {
  background-color: #1b1c1d;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15vh;
}

.installer_logo {
  width: 7.5%;
}

.installer_logo_footer:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.installer_logo_footer {
  width: 15%;
  transition: 0.5s;
  filter: grayscale(1);
}

.installer.header {
  text-align: center;
  margin-bottom: 2.5vh;
}

.i_3 {
  display: inline-block;
  width: 33.333333%;
}

body.installer {
  text-align: center;
  background-color: #f3f6fa;
}

.subimg {
  vertical-align: top;
}

.git {
  color: #ccc;
  font-size: 250%;
  transition: 0.5s;
  vertical-align: middle;
}

.git:hover {
  font-size: 275%;
  color: white;
}

.i_3>.dropup {
  display: inline-block;
}

.container>.content {
  background-color: #fff;
  border-radius: 4px;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  position: relative;
}

.btn-primary {
  background-color: #2185d0;
  color: #fff;
  text-shadow: none;
  background-image: none;
  border: none;
}

.btn-default {
  background-color: #e0e1e2;
  color: #555;
  border: none;
}

.btn-default:hover {
  background-color: #c1c1e2;
  color: #444;
}

.btn-primary:hover {
  background-color: #1678c2 !important;
  border: none;
}

.step_back {
  position: absolute;
  left: 25px;
  top: 15px;
}

.step_back>a>i {
  font-size: 15px;
  cursor: pointer;
  color: initial;
}

.req_table {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  display: inline-block;
  width: 40%;
  border-radius: 4px;
  position: relative;
  background-color: #eee;
  overflow: hidden;
  margin-bottom: 2vh;
}

.req_item {
  display: inline-block;
  background-color: #e8e8e8;
  width: 50%;
}

.req_res {
  display: inline-block;
  width: 50%;
}

form.install>.input-group {
  margin-bottom: 1vh;
}

.input-group {
  text-align: center;
}

.db-install {
  display: inline-block;
}

.footerie {
  color: #999;
}

.i_3.y {
  vertical-align: middle;
}

.credits_box {
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
}
