header.terminal {
	background: #E0E8F0;
	height: 30px;
	border-radius: 8px 8px 0 0;
	padding-left: 10px;
}

.terminal-container header .button {
	width: 12px;
	height: 12px;
	margin: 10px 4px 0 0;
	display: inline-block;
	border-radius: 8px;
}

.green {
	background-color: #3BB662 !important;
}

.red {
	background-color: #E75448 !important;
}

.yellow {
	background-color: #E5C30F !important;
}

.terminal-container {
	text-align: left;
	width: 100%;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 14px;
	position: relative;
}

.terminal-fixed-top {
	margin-top: 30px;
}

.terminal-home {
	display: block;
	width: 100%;
	height: 50vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	background-color: #30353A;
	padding: 1.5em 1em 1em 2em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #FAFAFA;
}

.btn-xs {
	height: 85%;
	min-width: 60px;
	border-radius: 8px 8px 8px 8px;

}

#fixed_btn {
	bottom: 0;
	position: fixed;
	z-index: 9999999;
	height: 80px;
	width: 80px;
	right: 0;
}

.fix_btn {
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;

}