/.fleet/
/.idea/
/core/config.php
/cache
/.vscode/
**/.DS_STORE
.DS_Store
.valet-env.php
/vendor
/core/assets/vendor
/uploads/avatars/**
/uploads/logos/**
/node_modules/
composer.lock
checksums.json
/.node_cache/
/release/
