# The following are EXAMPLE location blocks for an NGINX config, with support for Nameless v2's friendly URLs
# You will need to modify your own NGINX config location blocks accordingly
# This example config will NOT work as-is.
# With thanks to @Pugabyte, @Zethrus and KentuckyFriedData

# Friendly URL support
location / {
    try_files $uri $uri/ /index.php?route=$uri&$args;
}

# Deny access to some file types and directories
location ~ \.(tpl|cache|htaccess)$ {
    return 403;
}

location ^~ /node_modules/ {
    return 403;
}

location ^~ /scripts/ {
    return 403;
}

add_header X-Frame-Options "SAMEORIGIN";
