/* --------------- Prevents light flicker on dark mode --------------- */

body {
    display: none;
}

.visible {
    display: block;
}


/* --------------- Dark Mode --------------- */

/* Dark color shades, starting with darkest */
:root {
    --dark-color-1: #161c25;
    --dark-color-2: #0c1015;
    --dark-color-3: #191d22;
    --dark-color-4: #1c232f;
    --dark-color-5: #303030;
    --dark-color-6: #222831;
    --dark-color-7: #454545;
    --dark-color-warning: #ffa21d;
    --dark-color-success: #17C666;
    --dark-color-danger: #ea4d4d;
    --dark-color-info: #3ec9d6;
    --dark-text-shade-1: rgb(162 162 162);
}

.dark body,
.dark #wrapper #content-wrapper,
.dark .error_log {
    background-color: var(--dark-color-2);
    color: var(--dark-text-shade-1);
}

.dark .colorpicker-input-addon,
.dark .colorpicker-input-addon::before,
.dark .colorpicker-input-addon:focus,
.dark .input-group-append:focus {
    background-color: var(--dark-color-1);
}

.dark .dropdown-item,
.dark .dropdown-menu,
.dark .topbar .dropdown-list .dropdown-item:active {
    background-color: #161c25;
    color: var(--dark-text-shade-1);
    border-color: #0c1015 !important;
}

.dark .dropdown-item:hover {
    background-color: var(--dark-color-6);
}

.dark .sidebar {
    background-image: linear-gradient(180deg, var(--dark-color-4) 10%, var(--dark-color-4) 100%) !important;
}

.dark .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.dark .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover,
.dark .sidebar .nav-item .collapse .collapse-inner .active,
.dark .sidebar .nav-item .collapsing .collapse-inner .active,
.dark .topbar #sidebarToggleTop:hover {
    background-color: var(--dark-color-3);
}

.dark input[type="radio"] {
    background-color: var(--dark-text-shade-1) !important;
}

.dark .shadow {
    box-shadow: none !important;
}

.dark .table th,
.dark .table td,
.dark .table thead th,
.dark .border,
.dark .table-bordered {
    border-color: var(--dark-color-3) !important;
}

.dark .text-gray-300,
.dark .text-gray-600,
.dark .text-gray-800,
.dark .text-gray-900,
.dark .topbar.navbar-light .navbar-nav .nav-item .nav-link,
.dark .sidebar .nav-item .collapse .collapse-inner .collapse-item,
.dark .sidebar .nav-item .collapsing .collapse-inner .collapse-item,
.dark .breadcrumb,
.dark .form-control,
.dark .btn-default,
.dark .popover-body,
.dark .popover-header,
.dark .close,
.dark .table {
    color: var(--dark-text-shade-1) !important;
}

.dark .btn-default {
    background-color: var(--dark-color-2);
    border-color: var(--dark-color-3);
}

.dark .paginate_button a,
.dark .pagination .page-item a {
    background-color: var(--dark-color-3) !important;
    border-color: var(--dark-color-2) !important;
}

.dark .list-group-item {
    background-color: #161c25 !important;
}

.dark .bg-white,
.dark .card,
.dark .breadcrumb,
.dark .modal-content,
.dark option:checked {
    background-color: var(--dark-color-4) !important;
}

.dark .card-header {
    background-color: #161c25 !important;
    border: 0;
}

.dark .modal-header,
.dark .modal-footer {
    border-color: var(--dark-color-6);
}

.dark ul.thumbnails.image_picker_selector li .thumbnail {
    border-color: var(--dark-color-7);
}

.dark .form-control,
.dark .dropzone {
    background-color: var(--dark-color-3);
    border: 0;
    color: #bfbfbf !important;
}

.dark .form-control:focus {
    background-color: #21252a !important;
    color: #fff !important;
    box-shadow: none !important;
}

.dark .topbar-divider {
    border-color: var(--dark-color-6);
}

.dark ::-webkit-scrollbar-track,
.dark ::-webkit-scrollbar-corner {
    background: var(--dark-color-2);
}

.dark ::-webkit-scrollbar-thumb {
    background: var(--dark-color-3);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-color-5);
}

.dark hr {
    border-color: var(--dark-color-7);
}

.dark .input-group-text.colorpicker-input-addon,
.dark .input-group-text.colorpicker-input-addon:focus {
    border: none !important;
    outline: none;
}

.dark select option:hover,
.dark select option:focus,
.dark select option:active,
.dark select option:checked {
    background: linear-gradient(var(--dark-color-4), var(--dark-color-4)) !important;
    background-color: var(--dark-color-4) !important;
    /* IE Fallback */
}

.dark .text-github {
    color: rgba(255, 255, 255) !important;
}

.dark .nav-item:hover {
    background-color: #161c25 !important;
}

.dark .nav-item.active {
    background-color: #161c25 !important;
}

/* ----------- Popover Darkmode ----------- */
.dark .popover {
    background-color: rgb(12 16 21);
    box-shadow: 2px 2px 2px 2px rgb(12 16 21 / 9%)
}

.dark .popover .arrow,
.dark .popover .arrow::after {
    border-top-color: #202630 !important;
}

.dark .card-header,
.dark .popover-body,
.dark .popover-header {
    background-color: #202630 !important;
    border-color: #0c1015 !important;
}

/* ----------- Text Darkmode ----------- */
.dark .text-warning {
    color: var(--dark-color-warning) !important;
}

.dark .text-success {
    color: var(--dark-color-success) !important;
}

.dark .text-danger {
    color: var(--dark-color-danger) !important;
}

.dark .text-info {
    color: var(--dark-color-info) !important;
}

/* ----------- Alerts Dark mode ----------- */
.dark .alert-warning {
    color: #ffffff;
    background-color: var(--dark-color-warning) !important;
    border-color: var(--dark-color-warning) !important;
}

.dark .alert-success {
    color: #ffffff;
    background-color: var(--dark-color-success) !important;
    border-color: var(--dark-color-success) !important;
}

.dark .alert-danger {
    color: #ffffff;
    background-color: var(--dark-color-danger) !important;
    border-color: var(--dark-color-danger) !important;
}

.dark .alert-info {
    color: #ffffff;
    background-color: var(--dark-color-info) !important;
    border-color: var(--dark-color-info) !important;
}

/* --------------- Badge Dark mode --------------- */
.dark .badge-warning {
    color: #ffffff;
    background-color: var(--dark-color-warning) !important;
}

.dark .badge-success {
    color: #ffffff;
    background-color: var(--dark-color-success) !important;
}

.dark .badge-danger {
    color: #ffffff;
    background-color: var(--dark-color-danger) !important;
}

.dark .badge-info {
    color: #ffffff;
    background-color: var(--dark-color-info) !important;
}

/* --------------- Dark Mode BG --------------- */
.dark .bg-warning {
    background-color: var(--dark-color-warning) !important;
}

.dark .bg-success {
    background-color: var(--dark-color-success) !important;
}

.dark .bg-danger {
    background-color: var(--dark-color-danger) !important;
}

.dark .bg-info {
    background-color: var(--dark-color-info) !important;
}

/* --------------- Scrollbar --------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #C0C0C0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B8B8B8;
}

/* --------------- Sidebar --------------- */

.sidebar {
    z-index: 999;
}

@media (min-width: 768px) {
    .sidebar {
        width: 17rem !important;
    }

    .sidebar.toggled {
        width: 7rem !important;
        scrollbar-width: thin;
    }

    .sidebar .nav-item .nav-link {
        width: 16.5rem;
        padding: .70rem 1rem;
    }

    .sidebar .nav-item .nav-link span {
        font-size: .90rem;
    }
}

@media (max-width: 768px) {
    .sidebar.toggled+#content-wrapper {
        margin-left: 0 !important;
    }
}

/* --------------- Other --------------- */

body {
    color: #56575b;
}

.btn-user,
.form-control-user {
    border-radius: .35rem !important;
}

.thumbnails li img {
    width: 200px;
}

.dropdown-menu-lg {
    max-width: none;
}

.collapse-item {
    white-space: normal !important;
}

table.table.dataTable th.hide,
table.table.dataTable td.hide {
    display: none;
}

.table-hover.dataTables-users tbody tr,
.table-hover.dataTables-queue tbody tr {
    cursor: pointer;
}

.btn.disabled,
.btn:disabled {
    pointer-events: none;
}

a,
i,
#sidebarToggle,
.alert span,
.alert button,
.close {
    transition: .25s;
}

.card {
    border: none;
}

.btn-accordion {
    text-decoration: none !important;
    box-shadow: none !important;
}

.alert span:hover,
.alert button:hover {
    color: #FFF;
}

.btn-default {
    border: 1px solid #d1d3e2;
    background-color: #f4f4f4;
    color: #444 !important;
}

@media (max-width: 575px) {
    #content .breadcrumb {
        background-color: transparent !important;
        padding: initial !important;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    form .col-md-6:last-child {
        padding-top: 10px;
    }
}

.CodeMirror {
    border: 1px solid #ddd;
}

.profile-user-img {
    max-width: 50%;
}

footer.sticky-footer {
    padding: 1.4rem 0;
}

.font-size-sa {
    font-size: small;
}

.text-discord {
    color: #7289da !important;
}

.text-github {
    color: rgba(0, 0, 0) !important;
}

.custom-switch>.custom-control-label::before {
    /* slightly larger than default */
    top: 0.20rem;
    height: 1.1rem;
    width: 1.85rem;
    border-radius: 0.6rem;
}

.toast .move-right {
    position: absolute;
    left: 20px;
}

@media only screen and (max-width: 425px) {
    .statistics {
        display: none;
    }
}

.joypixels, .twemoji {
    height: 16px;
    width: 16px;
}
